@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Marck+Script&subset=cyrillic");
@font-face {
  font-family: "RobotoRegular";
  src: url("../fonts/Roboto-Regular.ttf");
  src: url("../fonts/Roboto-Regular.otf");
  src: url("../fonts/Roboto-Regular.woff"); }

@font-face {
  font-family: "RobotoLight";
  src: url("../fonts/Roboto-Light.ttf");
  src: url("../fonts/Roboto-Light.otf");
  src: url("../fonts/Roboto-Light.woff"); }

@font-face {
  font-family: "RobotoItalic";
  src: url("../fonts/Roboto-Italic.ttf");
  src: url("../fonts/Roboto-Italic.otf");
  src: url("../fonts/Roboto-Italic.woff"); }

*::-webkit-input-placeholder {
  color: #454545;
  opacity: 1; }

*:-moz-placeholder {
  color: #454545;
  opacity: 1; }

*::-moz-placeholder {
  color: #454545;
  opacity: 1; }

*:-ms-input-placeholder {
  color: #454545;
  opacity: 1; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #666; }

body input:required:valid,
body textarea:required:valid {
  color: #666; }

html {
  font-size: 10px; }

body {
  font-family: "RobotoRegular", sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0; }

.btn {
  width: 18rem;
  height: 3rem;
  border: none;
  background-color: #de6d6e;
  color: #fff;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-size: 17px;
  font-family: "RobotoLight", sans-serif;
  outline: none;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease; }
  .btn:hover {
    cursor: pointer;
    background-color: rgba(222, 109, 110, 0.9); }
  .btn:active {
    background-color: #de6d6e; }

.top-line {
  position: relative;
  height: 9rem;
  color: #fff;
  background-color: #fff;
  opacity: .9;
  z-index: 99; }
  .top-line .logo {
    position: relative;
    height: 9rem; }
    .top-line .logo img {
      position: absolute;
      margin: auto;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0; }
  .top-line .menu ul {
    list-style-type: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .top-line .menu ul li {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      font-size: 17px;
      font-family: "RobotoRegular", sans-serif;
      color: #454545;
      opacity: .75;
      margin-left: 3rem;
      padding: 0;
      width: 9rem;
      height: 3rem;
      -webkit-transition: all .3s ease;
      -o-transition: all .3s ease;
      transition: all .3s ease; }
      .top-line .menu ul li a {
        display: block;
        text-align: center;
        padding: 4px;
        width: 100%;
        height: 100%;
        text-decoration: none;
        color: #454545; }
        .top-line .menu ul li a span {
          padding-top: 15px; }
      .top-line .menu ul li:hover {
        cursor: pointer;
        background-color: rgba(222, 109, 110, 0.8);
        opacity: 1;
        color: #fff;
        -webkit-border-radius: 4px;
        border-radius: 4px; }
        .top-line .menu ul li:hover a {
          color: #fff; }
      .top-line .menu ul li:active {
        background-color: #de6d6e; }
      .top-line .menu ul li:last-child {
        padding: 0;
        background-color: #de6d6e;
        opacity: 1;
        color: #fff;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        -webkit-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease; }
        .top-line .menu ul li:last-child a {
          color: #fff; }
        .top-line .menu ul li:last-child .fa-user {
          font-size: 12px;
          margin-right: 8px; }
        .top-line .menu ul li:last-child:hover {
          cursor: pointer;
          background-color: rgba(222, 109, 110, 0.8);
          color: #fff; }
        .top-line .menu ul li:last-child:active {
          background-color: #de6d6e; }
        .top-line .menu ul li:last-child:hover a {
          color: #fff; }
    .top-line .menu ul:hover .login {
      background-color: #fff;
      color: #454545; }
    .top-line .menu ul:hover .login a {
      color: #454545; }

.art-design {
  margin-top: 5rem;
  text-align: center;
  font-family: 'Marck Script', cursive;
  font-size: 3rem;
  color: #454545; }
  .art-design h3 {
    margin-bottom: 1rem;
    font-weight: 100; }
  .art-design h2 {
    margin-top: 1rem;
    font-weight: 100; }

.map {
  margin-bottom: 5rem; }

.adress {
  font-family: "RobotoLight", sans-serif;
  font-size: 16px;
  color: #454545;
  letter-spacing: 1px; }
  .adress h4 {
    margin-top: 0;
    line-height: 30px; }

#form input {
  font-family: "RobotoLight", sans-serif;
  width: 50%;
  height: 3rem;
  padding-left: 1rem;
  margin-bottom: 1rem;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  outline: none; }

#form textarea {
  font-family: "RobotoLight", sans-serif;
  width: 100%;
  height: 17rem;
  padding-left: 1rem;
  margin-bottom: 1rem;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border-top: 2px solid rgba(69, 69, 69, 0.5);
  border-left: 2px solid rgba(69, 69, 69, 0.5);
  border-bottom: 2px solid rgba(200, 234, 244, 0.5);
  border-right: 2px solid rgba(200, 234, 244, 0.5);
  outline: none; }

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 260px;
  background-image: url("../img/footer-bg.png"); }
  .footer .sub-menu {
    margin-top: 4rem; }
    .footer .sub-menu h4 {
      font-family: "RobotoLight", sans-serif;
      font-size: 21px;
      font-weight: 300;
      line-height: 22px;
      color: #aeaeae;
      margin-bottom: 0; }
    .footer .sub-menu ul {
      list-style-type: none;
      margin-left: 0;
      padding-left: 0;
      margin-top: 25px; }
      .footer .sub-menu ul li {
        font-family: "RobotoLight", sans-serif;
        font-size: 15px;
        font-weight: 300;
        line-height: 22px;
        color: #8b8b8b; }
        .footer .sub-menu ul li a {
          text-decoration: none;
          color: #8b8b8b;
          -webkit-transition: all .2s ease;
          -o-transition: all .2s ease;
          transition: all .2s ease; }
          .footer .sub-menu ul li a:hover {
            color: #fff;
            text-decoration: underline; }
  .footer .socials {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 58px; }
    .footer .socials .social {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      width: 5rem;
      height: 5rem;
      background-color: #696b6a;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      font-size: 25px;
      color: #252825;
      -webkit-transition: all .3s ease;
      -o-transition: all .3s ease;
      transition: all .3s ease; }
      .footer .socials .social a {
        text-decoration: none;
        color: #252825;
        -webkit-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease; }
        .footer .socials .social a:hover {
          color: #696b6a; }
      .footer .socials .social:hover {
        background-color: transparent;
        cursor: pointer; }
      .footer .socials .social:hover .fa {
        color: #696b6a; }
  .footer .copyright {
    text-align: center;
    font-family: "RobotoLight", sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 22px;
    color: #8b8b8b;
    margin-top: 30px; }

@media screen and (max-width: 1200px) {
  .work {
    height: 750px; } }

@media screen and (max-width: 992px) {
  html {
    font-size: 9px; }
  .top-line .menu ul li {
    height: 3.3rem; }
  .top-slider .slide h1 {
    font-size: 3.5rem; }
  .top-slider .slide p {
    font-size: 2rem; }
  .work {
    height: 820px; }
  .footer .sub-menu h4 {
    font-size: 20px; } }

@media screen and (max-width: 768px) {
  html {
    font-size: 8px; }
  .top-line:active .menu {
    -webkit-transform: translateY(-50px);
    -ms-transform: translateY(-50px);
    transform: translateY(-50px); }
  .top-line .menu {
    display: none;
    width: 100%;
    margin-right: 0;
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease; }
    .top-line .menu ul li {
      font-size: 15px; }
  .top-line .hamburger {
    display: block; }
  .top-line .active {
    display: block; }
  .top-slider {
    top: 0; }
    .top-slider .slide {
      height: 40rem; }
      .top-slider .slide h1 {
        font-size: 3rem;
        bottom: 3rem; }
      .top-slider .slide h2 {
        font-size: 3rem;
        bottom: 3rem;
        margin: 16px 0; }
      .top-slider .slide p {
        display: none; }
  .offers h2 {
    margin-top: 350px;
    font-size: 3rem; }
  .circles-block .offers_circles {
    margin-top: 4rem;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: space-around;
    -ms-flex-line-pack: distribute;
    align-content: space-around; }
    .circles-block .offers_circles .circle {
      width: 14rem;
      height: 14rem;
      margin: 10px auto; }
      .circles-block .offers_circles .circle-description {
        font-size: 8.5px;
        width: 11.5rem;
        margin-bottom: 3.5rem; }
  .footer .sub-menu h4 {
    font-size: 16px; }
  .footer .sub-menu ul {
    margin-top: 10px; }
  .footer .socials {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: space-around;
    -ms-flex-line-pack: distribute;
    align-content: space-around; }
    .footer .socials .social {
      margin: 5px auto; } }

@media screen and (max-width: 576px) {
  .top-line .menu ul li {
    font-size: 13px; }
  .circles-block .offers_circles {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: space-around;
    -ms-flex-line-pack: distribute;
    align-content: space-around; }
    .circles-block .offers_circles .circle {
      margin: 10px auto; } }
