.top-line {
  position: relative;
  height: 9rem;
  color: #fff;
  background-color: #fff;
  opacity: .9;
  z-index: 99; }

.container {
  height: 9rem; }

.logo {
  position: relative;
  height: 9rem; }
  .logo img {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; }

.menu ul {
  list-style-type: none;
  display: flex; }
  .menu ul li {
    flex-direction: row;
    font-size: 17px;
    font-family: "Roboto", sans-serif;
    color: #454545;
    opacity: .75;
    margin-left: 3rem;
    padding: 4px 12px;
    transition: all .3s ease; }
    .menu ul li:hover {
      cursor: pointer;
      background-color: rgba(222, 109, 110, 0.7);
      padding: 4px 12px;
      opacity: 1;
      color: #fff;
      border-radius: 4px; }
    .menu ul li:last-child {
      padding: 4px 12px;
      background-color: #de6d6e;
      opacity: 1;
      color: #fff;
      border-radius: 4px;
      transition: all .3s ease; }
      .menu ul li:last-child .fa-user {
        font-size: 12px;
        margin-right: 8px; }
      .menu ul li:last-child:hover {
        cursor: pointer;
        background-color: rgba(222, 109, 110, 0.9); }

.top-slider {
  display: block;
  position: absolute;
  width: 100%;
  height: 60rem;
  top: 0;
  z-index: 90; }
  .top-slider .slide {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 60rem;
    background-image: url("../img/main.png");
    background-size: cover; }
    .top-slider .slide h1 {
      position: absolute;
      bottom: 12rem;
      font-size: 6rem;
      color: #fff;
      text-transform: uppercase;
      text-shadow: 0 0 20px #000; }
    .top-slider .slide p {
      position: absolute;
      bottom: 8rem;
      font-size: 2.5rem;
      color: #fff;
      text-shadow: 0 0 20px #000; }

.offers {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .offers h2 {
    margin-top: 58rem;
    font-size: 3.5rem;
    color: #404040;
    margin-bottom: 2rem; }
  .offers p {
    font-size: 1.9rem;
    text-align: center;
    color: #636363;
    font-weight: 300;
    margin-top: 0; }

.offers_circles {
  display: flex;
  justify-content: space-between; }
  .offers_circles .circle {
    width: 18rem;
    height: 18rem;
    margin-top: 8rem;
    border-radius: 50%; }
  .offers_circles .ballons {
    background-image: url("../img/balloons.png");
    background-size: cover;
    background-color: #4eb9f4; }
  .offers_circles .boxes {
    background-image: url("../img/boxes.png");
    background-size: cover;
    background-color: #6fc125; }
  .offers_circles .flowers {
    background-image: url("../img/flowers.png");
    background-size: cover;
    background-color: #ff5649; }
  .offers_circles .finger {
    background-image: url("../img/finger.png");
    background-size: cover;
    background-color: #e48f23; }

html {
  font-size: 10px; }

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0; }
