html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, description, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
description, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.content {
  position: relative;
  z-index: 1;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("./main.jpg");
  background-size: cover;
  min-height: 631px; }
  .content::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    background-color: #000;
    opacity: .75; }

.content__name {
  z-index: 3;
  margin-bottom: 30px;
  color: #fff;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 52px;
  text-transform: uppercase; }

.content__description {
  z-index: 3;
  color: #fff;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 32px;
  text-transform: uppercase; }

.footer {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  height: 500px; }

.footer__left {
  flex: 1 0 60%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 32px; }

.footer__right {
  position: relative;
  flex: 1 0 40%;
  overflow: hidden;
  background-color: #4FC3F7;
  opacity: .4; }
  .footer__right::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 1000px;
    height: 1000px;
    background-color: #f44336;
    transform: rotate(45deg) translateY(-50%); }
