html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, description, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
description, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: bullet; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

b {
  display: block;
  margin-bottom: 10px;
  font-weight: 800;
}

p {
  margin-bottom: 15px;
  text-indent: 20px;
}

ul {
  margin-bottom: 15px;
  padding-left: 50px;
}

h3 {
  font-weight: bold;
}

.header {
  position: fixed;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px 0;
  background-color: #37474F; }

.header__title {
  color: #fff;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 36px;
  font-weight: bold; }

.picture {
  height: 900px;
  background-image: url("./office.jpg");
  background-size: cover;
  background-position: center center; }

.description__title {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: #37474F;
  color: #fff;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 24px; }

.description__content {
  display: flex;
  max-width: 100%; }

.description__img {
  flex: 1 0 33%;
  background-image: url("./about.png");
  background-size: cover;
  background-position: center center; }

.description__text {
  flex: 0 1 33%;
  padding: 25px 50px;
  color: #37474F;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; }

.description__data {
  flex: 1 1 33%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
  min-height: 100px;
  background-color: #37474F;
  color: #fff;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.3; }

.description__address,
.description__info,
.description__contacts {
  margin-bottom: 10px; }

.description__address b {
  display: block; }

.description__name {
  font-weight: bold;
  flex: 5 0 100%;
  margin-bottom: 10px; }
